include *.rst
include *.txt
include .coveragerc
include buildout.cfg
include pytest.ini
include tox.ini

recursive-include src *.pt
recursive-include src *.rst
recursive-include src *.txt
recursive-include src *.zcml

recursive-include src/gocept/mochikit/resources *